/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
.bg-header1 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image1_zpskqfxcktq.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

.bg-header2 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image2_zpshkzmdkin.png) center center no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

.bg-header3 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image3_zpsvvedk7yu.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}


.bg-quote1 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image4_zpsbyiyfmhv.png) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-quote2 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image5_zps3zendol1.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-quote3 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image6_zpsmlj4izgt.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.bg-quote4 {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/image7_zpsm30ffgzx.jpg) center bottom no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-warm {
	color:ffd5a3;



}

.font-title{
font-family: 'Rammetto One', cursive;

}

.font-index{
font-family: 'Press Start 2P', serif;


}

.text-locations{
	font-family: 'Righteous', sans-serif;




}







